@import url("https://use.typekit.net/dma7wty.css");

body {
    padding: 0px;
    margin: 0px;
    font-family: "Comic Sans", "Comic Sans MS";
}

.toolbar {
    height: 15vh;
    background-color: #2B5229;
}

.main {
    height: 80vh;
    background-color: #FBE68C;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar .footer {
    height: 5vh;
}

.events {
    width: 100vw;
    text-align: center;
}

.event {
    display: inline-block;
    margin: max(3vh, 3vw);
    background-color: #F3D34A;
    border-radius: max(1.5vh, 1.5vw);
    padding: max(1vh, 1vw);
    width: max(20vw, 20vh);
    transform-style: preserve-3d;
    transition: scale 0.4s linear;
}

.event-image {
    margin-top: max(1vh, 1vw);
    width: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #FBE68C;
    border-radius: max(1.5vh, 1.5vw);
}